
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    z-index: 99;
  }
  
  .navLeft {
    display: flex;
    align-items: center;
  }

  .navLeft img {
    width: 60%;
    height: 95px;
}
  
  .navRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .navRight a {
    text-decoration: none;
    color: #444;
    text-transform: uppercase;
    padding: 25px 15px;
    display: block;
    font-weight:bold;
    transition: 0.2s ease;
    font-size: 1.2em;
  }
  .navRight a span {
    padding-left: 5px;
  }
  /* .navRight a:hover {
    box-shadow: inset 0 6px 0 #2193b0;
  } */
  
  #hamburger {
    position: absolute;
    top: 2px;
    right: 19px;
    z-index: 100;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
  }
  #hamburger .bar {
    width: 42px;
    height: 2px;
    background: #444;
  }
  #hamburger .bar:before, #hamburger .bar:after {
    content: "";
    position: absolute;
    width: 42px;
    height: 2px;
    background: #444;
  }
  #hamburger .bar:before {
    top: 30px;
  }
  #hamburger .bar:after {
    bottom: 30px;
  }

   /* .navRight a.is-active {
    box-shadow: inset 0 2px 0 #e34f25;
} */
   
  @media only screen and (min-width: 861px) {
    #hamburger {
      display: none;
    }
  
    .navRight {
      display: flex !important;
    }
  }
  @media only screen and (max-width: 860px) {
    nav {
      display: block;
      padding: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    }
  
    .navLeft {
      padding: 20px;
      box-sizing: border-box;
    }
  
    .navRight {
      display: none;
      background: #fff;
    }
    .navRight a {
      border-top: 2px solid #eee;
      padding: 10px;
    }
    .navRight a:hover {
      box-shadow: none;
      background: #fff;
    }
  }
  
.navRight a svg {
  width: 20px;
  height: 20px;
  vertical-align: sub;
  margin-right: 8px;
}


@media (min-width: 600px) { 
	
  .btnhover {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    }
     
  .btn-2 {
    letter-spacing: 0;
    }
    
    .btn-2:hover,
    .btn-2.isactive:active {
    letter-spacing: 2px;
    }

    .btn-2.is-active{
      letter-spacing: 2px;
      }

      .btn-2.is-active::after {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    border-color: #2193b0;
    -webkit-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 90%;
      }
    
    .btn-2:after,
    .btn-2:before {
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    border: 2px solid rgba(255, 255, 255, 0);
    bottom: -5px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
    }
    
    .btn-2:hover:after{
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    border-color: #2193b0;
    -webkit-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 90%;
    }
    
    .btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 90%;
    }
  }
