<header>
    <div id="hamburger">
        <div class="bar"></div>
    </div>
    <nav>
        <div class="navLeft">
            <a routerLink="/home">
                <img src="assets/images/logo.svg" alt="logo">
            </a>
        </div>
        <div class="navRight">
            <a routerLink="/home" [routerLinkActive]="['is-active']"> Home </a>
            <a routerLink="/about" [routerLinkActive]="['is-active']">About ME</a>
            <a routerLink="/skills" [routerLinkActive]="['is-active']">My Skills</a>
            <a routerLink="/works" [routerLinkActive]="['is-active']">My Works</a>
            <a routerLink="/contact" [routerLinkActive]="['is-active']">Contact Me</a>
        </div>
    </nav>
</header>
