<header>
    <div id="hamburger">
        <div class="bar"></div>
    </div>
    <nav>
        <div class="navLeft">
            <a routerLink="/home">
                <img src="assets/images/logo.svg" alt="logo">
            </a>
        </div>
        <div class="navRight">
            <a routerLink="/home" [routerLinkActive]="['is-active']" (click)="remove()"> Home </a>
            <a routerLink="/about" [routerLinkActive]="['is-active']" (click)="remove()">About ME</a>
            <a routerLink="/skills" [routerLinkActive]="['is-active']" (click)="remove()">My Skills</a>
            <a routerLink="/works" [routerLinkActive]="['is-active']" (click)="remove()">My Works</a>
            <a routerLink="/contact" [routerLinkActive]="['is-active']" (click)="remove()">Contact Me</a>
        </div>
    </nav>
</header>
