<app-breadcrumb [parentData]="about"> </app-breadcrumb>
<section id="content">
    <div class="row">
        <div class="col-md-5 col-sm-6 col-lg-5 col-xl-5 col-12">
            <div class="anim-bio">
                <img src="assets/images/about.svg" alt="about">
            </div>
                <p>I have a background in UI Design, Web development in SharePoint and experience of successfully designing a SharePoint Portals layout and development, Over the last 6+ years. My Core Expertise are in Angular2+, HTML(5), CSS(3), gulp, Webpack, Photoshop, Jquery, SPA (Single Page Application). I’ve had the opportunity of working for several web design, IT companies, and this has given me extensive Front End Development &amp; UX, UI Design knowledge and technical skill quick review of my <a routerLink="/works">Portfolio </a>page will show that I have been involved in the creation of plenty of comprehensive websites. Intranet Portal, Web Applications, I also possess excellent communication skills and I am comfortable working on projects as part of a team or individually.</p>
        </div>
        <div class="col-md-7 col-sm-6 col-lg-7 col-xl-7 col-12">
                <div class="timeline"> 
                        <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
                          <div class="timeline__event__icon ">
                                <i class="fas fa-building"></i>  
                      
                          </div>
                          <div class="timeline__event__date">
                            Feb 2017 <br> to Present
                          </div>
                          <div class="timeline__event__content ">
                            <div class="timeline__event__title">
                                    <i class="fas fa-building"></i> Micro Pro Computer LLC <i class="fas fa-map-marker-alt"></i> DUBAI
                            </div>
                            <div class="timeline__event__title">
                                    <i class="far fa-address-card"></i> Front End Developer
                                  </div>
                            <div class="timeline__event__description">
                              <p>Working with General Authority for Sports as a Senior UI Designer and Front End Developer. Provide interface design for web-based projects, App dashboards &amp; widgets. Develop UX processes for all our Business Apps.</p>
                            </div>
                          </div>
                        </div>
                        <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
                          <div class="timeline__event__icon">
                                <i class="fas fa-building"></i>  
                      
                          </div>
                          <div class="timeline__event__date">
                                 Feb 2015 <br> to  Feb 2017
                          </div>
                          <div class="timeline__event__content">
                            <div class="timeline__event__title">
                                    <i class="fas fa-building"></i>  CYQUENT TECHNOLOGIES LLC <i class="fas fa-map-marker-alt"></i>DUBAI
                            </div>
                            <div class="timeline__event__title">
                                    <i class="far fa-address-card"></i>   UI Designer & Developer
                                    </div>
                            <div class="timeline__event__description">
                              <p>Working with Cyquent Technologies LLC as a Senior Web Designer and SharePoint Designer. Proficiently maintained relationships with key Government & corporate clients of Dubai, Abu Dhabi, Sharjah and others.</p>
                            </div>
                          </div>
                        </div>
                        <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
                          <div class="timeline__event__icon">
                                <i class="fas fa-building"></i>  
                      
                          </div>
                          <div class="timeline__event__date">
                            2013 to 2014
                          </div>
                          <div class="timeline__event__content">
                            <div class="timeline__event__title">
                                    <i class="fas fa-building"></i>  DATA RESOLVE TECHNOLOGIES <i class="fas fa-map-marker-alt"></i>INDIA (NEW DELHI)
                            </div>
                            <div class="timeline__event__title">
                                    <i class="far fa-address-card"></i>  SENIOR UI & WEB DESIGNER
                            </div>
                            <div class="timeline__event__description">
                              <p>Successfully Played a key role of Sr. Web Designer and handling all IT department. Skillfully designed and developed websites for organization.</p>
                            </div>
                      
                          </div>
                        </div>
                        <div class="timeline__event animated fadeInUp timeline__event--type1">
                          <div class="timeline__event__icon">
                                <i class="fas fa-building"></i>  
                      
                          </div>
                          <div class="timeline__event__date">
                                2011 to 2012
                          </div>
                          <div class="timeline__event__content">
                            <div class="timeline__event__title">
                                    <i class="fas fa-building"></i> MOMARK TECHNOLOGIES <i class="fas fa-map-marker-alt"></i>INDIA (NEW DELHI)
                            </div>
                            <div class="timeline__event__title">
                                    <i class="far fa-address-card"></i>  UI & Web Designer
                            </div>
                            <div class="timeline__event__description">
                              <p>Successfully Played a key role of web Designer. Design and maintained more than 25 internal websites for Momark Group. Skillfully designed and developed websites for organization.</p>
                            </div>
                          </div>
                        </div>
                      
                      </div>
            </div>
    </div>
</section>