<app-breadcrumb [parentData]="contact"> </app-breadcrumb>
<div id="content">
  <div class="row justify-content-around">
    <div class="col-md-5 col-sm-6 col-12 col-xl-5 col-lg-5">
      <img src="{{conImg}}" alt="contact">
    </div>
    <div class="col-md-5 col-sm-6 col-12 col-xl-5 col-lg-5">
      <div class="contact-left">
        <div class="item">
          <div class="title"><i class="fa fa-location-arrow" aria-hidden="true"></i>ADDRESS</div>
          <p>Hor Al Anz, Deira Dubai</p>
        </div>
        <div class="item">
          <div class="title"><i class="fa fa-phone" aria-hidden="true"></i>PHONE</div>
          <p>+971559553204</p>
        </div>
        <div class="item">
          <div class="title"><i class="fas fa-envelope"></i>EMAIL</div>
          <p><a href="mailto:Khurshedkhan52@gmail.com">Khurshedkhan52@gmail.com</a></p>
        </div>
        <div class="item">
          <div class="title"><i class="fab fa-skype"></i>SKYPE</div>
          <p><a href="callto:khurshid.khan571">khurshid.khan571</a></p>
        </div>
      </div>
      <!--map-->
      <div class="map"><iframe width="100%" height="200px" src="https://maps.google.com/maps?width=100&amp;height=600&amp;hl=en&amp;q=karachi%20darbar%20dubai%20hor%20al%20anz%20deira+()&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">find my location</a></iframe></div><br />
    </div>
  </div>
</div>