<app-breadcrumb [parentData]="contact"> </app-breadcrumb>
<div id="content">
  <div class="row justify-content-around">
    <div class="col-md-4 col-sm-4 col-12 col-xl-4 col-lg-5">
      <!-- <img src="{{conImg}}" alt="contact"> -->
      <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Please enter your name" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Please enter your email" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Comments</mat-label>
          <textarea  matInput placeholder="Please enter your comments" formControlName="comments"> </textarea>
        </mat-form-field>

      <button type="submit" class="w-100" mat-raised-button color="primary" [disabled]="FormData.pristine || FormData.invalid">Submit</button>
      </form>

      <!-- <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
        <div class="form-group">
        <label for="Email">Name</label>
        <input type="email" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter Name"formControlName="name">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
        <label for="fullname">Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" formControlName="comments" name="comments">
        </textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="FormData.pristine || FormData.invalid ">Submit</button>
        </form> -->
    </div>
    <div class="col-md-4 col-sm-6 col-12 col-xl-4 col-lg-4">
      <div class="contact-left">
        <div class="item">
          <div class="title"><i class="fa fa-location-arrow" aria-hidden="true"></i>ADDRESS</div>
          <p>Hor Al Anz, Deira Dubai</p>
        </div>
        <div class="item">
          <div class="title"><i class="fa fa-phone" aria-hidden="true"></i>PHONE</div>
          <p>+971559553204</p>
        </div>
        <div class="item">
          <div class="title"><i class="fas fa-envelope"></i>EMAIL</div>
          <p><a href="mailto:Khurshedkhan52@gmail.com">Khurshedkhan52@gmail.com</a></p>
        </div>
        <div class="item">
          <div class="title"><i class="fab fa-skype"></i>SKYPE</div>
          <p><a href="callto:khurshid.khan571">khurshid.khan571</a></p>
        </div>
      </div>
    </div>
  </div>
</div>