<app-breadcrumb [parentData]="work"></app-breadcrumb>
<!-- <div *ngFor="let website of websites">
    <img src="{{website.imgUrl}}" alt="{{website.alt}}"/>
    <a [href]='website.url' target="_blank">fa-coffee</a>
</div> -->

<section id="content">
   <mat-tab-group>
        <mat-tab label="Website">
          <app-website> </app-website>
        </mat-tab>
        <mat-tab label="Intranet Portal">
              <app-intranet> </app-intranet>
        </mat-tab>
        <mat-tab label="Web Application">
            <app-web-app></app-web-app>
        </mat-tab>
</mat-tab-group>
</section>

