<app-breadcrumb [parentData]="work"></app-breadcrumb>
<!-- <div *ngFor="let website of websites">
    <img src="{{website.imgUrl}}" alt="{{website.alt}}"/>
    <a [href]='website.url' target="_blank">fa-coffee</a>
</div> -->

<section id="content">
   <mat-tab-group>
        <mat-tab label="Website">
                <div class="project-grid">
                        <div class="project-area" *ngFor="let website of websites"> 
                            <div class="project">
                                <a class="venobox project-link vbox-item" [href]='website.imgUrl'><img class="project-image" [defaultImage]="defaultImage" [lazyLoad]="website.imgUrl" [offset]="offset" alt="{{website.alt}}"/></a>
                                <div class="project-details">
                                    <div class="project-tile">{{website.name}}</div>
                                    <small>{{website.built}}</small>
                                    <div class="buttons">
                                        <a [href]='website.url' target="_blank"> <i class="fas fa-external-link-alt"></i> Live Demo</a>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div> 
        </mat-tab>
        <mat-tab label="Intranet Portal">
                <div class="project-grid">
                        <div class="project-area" *ngFor="let intra of intranet"> 
                            <div class="project">
                                <a class="venobox project-link vbox-item" [href]='intra.imgUrl'><img class="project-image" [defaultImage]="defaultImageIntra" [lazyLoad]="intra.imgUrl" [offset]="offsetIntra" alt="{{intra.alt}}"/></a>
                                <div class="project-details">
                                    <div class="project-tile">{{intra.name}}</div>
                                    <small>{{intra.built}}</small>
                                    <div class="buttons">
                                        <a [href]='intra.url' target="_blank"> <i class="fas fa-external-link-alt"></i> Live Demo</a>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
        </mat-tab>
        <mat-tab label="Web Application"> Content 3 </mat-tab>
</mat-tab-group>
</section>

