<div class="project-grid">
  <div class="project-area" *ngFor="let webapp of webApps"> 
      <div class="project">
          <a class="venobox project-link vbox-item" [href]='webapp.imgUrl'><img class="project-image" [defaultImage]="defaultImage" [lazyLoad]="webapp.imgUrl" [offset]="offset" alt="{{webapp.alt}}"/></a>
          <div class="project-details">
              <div class="project-tile">{{webapp.name}}</div>
              <small>{{webapp.built}}</small>
              <div class="buttons">
                  <a class="venobox project-link vbox-item" [href]='webapp.imgUrl'> <i class="fas fa-images"></i> view image</a>
              </div>
          </div>
      </div>    
  </div>
</div>