/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');
html {
  font-family: 'Barlow Condensed', sans-serif !important;
}
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif !important;
    line-height: 1.4em;
}

.owl-carousel {
    direction: ltr
}

.owl-theme .owl-dots .owl-dot {
  display: block !important;
  margin-bottom: 0.5em;
  width: 32px;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  top: 50%;
  right: -13%;
}
button.owl-dot.active {
  border: 1px solid #fff !important;
  border-radius: 13px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #337985 !important;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 5px 10px !important; 
}

.owl-dots {
  position: absolute;
  top: 50%;
  right: 2%;
}

.owl-carousel .owl-item img {
  width: 88% !important;
}

#bannerHead {
  background: #de6262;
  background: -webkit-linear-gradient(to right,#ffb88c,#de6262);
  background: linear-gradient(to right,#ffb88c,#de6262);
  position: relative;
  min-height: 82px;
  margin-top: 5em;
}

.bannerText {
  background: #fff;
  min-width: 400px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-height: 64px;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: #434343;
  box-shadow: 0 0 5px #0000001f;
}
