/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');

html {
  font-family: 'Barlow Condensed', sans-serif !important;
}
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif !important;
    line-height: 1.4em;
}

a:hover {
  text-decoration:none !important
}

main {
  flex: 1;
  position: relative;
}

router-outlet ~ * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.owl-carousel {
    direction: ltr
}

.owl-theme .owl-dots .owl-dot {
  display: block !important;
  margin-bottom: 0.5em;
  width: 32px;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  top: 50%;
  right: -13%;
}
button.owl-dot.active {
  border: 1px solid #fff !important;
  border-radius: 13px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #337985 !important;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 5px 10px !important; 
}

.owl-dots {
  position: absolute;
  top: 50%;
  right: 2%;
}

.owl-carousel .owl-item img {
  width: 88% !important;
}

#bannerHead {
  background: #de6262;
  background: -webkit-linear-gradient(to right,#ffb88c,#de6262);
  background: linear-gradient(to right,#ffb88c,#de6262);
  position: relative;
  min-height: 82px;
  margin-top: 6em;
}

.bannerText {
  background: #fff;
  min-width: 400px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-height: 64px;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: #434343;
  box-shadow: 0 0 5px #0000001f;
  -webkit-box-shadow: 0 0 5px #0000001f;
  -moz-box-shadow: 0 0 5px #0000001f;
  -ms-box-shadow: 0 0 5px #0000001f;
  display: flex;
  justify-content: space-around;
  align-items: center
}

#content {
  margin-top: 2em
}

/******button******/

.primary {
  background: #22a8c6;
  color: #fff;
  border: 0;
  cursor: pointer;
  outline: 0;
  font-size: 2em;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 20px
}

.primary:hover {
  background: #1b8691;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2)
}

.primary:active {
  background: #0e4348
}

.arrow-btn {
    font-size: 1.8rem;
    line-height: 1.3;
    border-radius: 10px;
    display: inline-block;
    width: auto;
    padding: 15px 30px 12px;
    font-weight: 400;
    background: rgb(33,177,207);
    background: linear-gradient(90deg, rgba(33,177,207,1) 0%, rgba(0,212,255,1) 100%);    
    color: #fff !important;
    margin-top:1em;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out
}

.arrow-btn:hover {
  transition: all 0.5s ease-in-out;
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(33,177,207,1) 100%);
}

.link--arrowed .arrow-icon {
    position: relative;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease,-webkit-transform .2s ease;
    vertical-align: middle;
    margin-left: 10px;
}

.link--arrowed .arrow-icon--circle {
    -webkit-transition: stroke-dashoffset .3s ease;
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}

.link--arrowed:hover .arrow-icon--circle {
    stroke-dashoffset: 0;
}

@media screen and (max-width: 786px) {
  .home-bg {
    padding-top: 5em !important;
  }
  .navLeft img {
    width: 30% !important;
  }

  .navLeft {
    padding: 0px !important; 
}

.typed_wrap h1 {
  font-size: 2em !important;
}

.skills-grid{
  grid-template-columns: repeat(3, 1fr) !important;
}

.project-grid{
  grid-template-columns: repeat(1, 1fr) !important;
}

.project-details .buttons a {
  width: 100% !important;
}

}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .skills-grid .skill-area {
    width: 16% !important;
    float: left !important;
}

.project-grid {
  width: 100%;
}

.project-grid .project-area {
  width: 45%;
  float: left;
  margin-bottom: 25px !important
}

.project {
  width: 100%;
  display: inherit !important;
  }

  .project .project-link {
    width: 45%;
    float: left;
    margin-right: 20px !important;
}
.align-cent {
  margin-top: 100px;
}

.navLeft img {
  width: 30% !important;
}
}