.home-bg {
    position: relative;
    min-height: 30vw;
    padding-top: 3vw;
    background: url('../../assets/images/home-bg.svg') no-repeat right top #fffffe;
    background-size: contain;
    padding-top: 20px;
}

.align-cent {
    display: flex;
    align-items: center
}

.typed_wrap span svg {
    width: 70px;
    vertical-align: baseline;
    margin: 0px 5px 0 5px;
}

.typed_wrap h1 {
    font-size: 3em;
    margin-bottom: 1em;
    font-weight: 700;
}

.typed_wrap {
    text-align: center;
}

.typed {
    color: #2193b0;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px dashed #ccc2c7;
}

.typed_wrap p {
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: bold
}

.typed_wrap p span+span {
    font-weight: 800;
    color: #2193b0;
}

img {
    height:100%;
}

svg.shape {
    margin: 20px auto;
    width:70%;
    height: auto;
  }
  
  .svg-animate {
      position: relative
  }

  .slider {
      width: 35%;
      position: absolute;
      top: 30%;
      left: 20%;
  }
  
  @keyframes shape {
    0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    }
    50% {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    }
    100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    }
  }
  
  .shape {
    -webkit-animation: shape 100s linear infinite both;
    animation: shape 100s linear infinite both;
  }

 
  .cv{
    min-width: 12%;
    background: -webkit-gradient(linear,left top,right top,from(#fa6630),to(#be155e));
    background: -webkit-linear-gradient(left,#fa6630,#be155e);
    background: -o-linear-gradient(left,#fa6630,#be155e);
    background: linear-gradient(to right,#fa6630,#be155e);
    margin-top:1em;
    text-align:center;
    padding: 10px;
    color: #fff;
    font-size: 1.8em;
    border-radius: 10px 0px 0px 10px;
    transition: all 0.5s ease-in-out;
    margin-top: -10px;
    position:relative;
    z-index: 1
  }

a.cv:hover {
     transition: all 0.5s ease-in-out;
      text-decoration:none !important;
    background: -webkit-linear-gradient(left,#be155e,#fa6630);
    background: -o-linear-gradient(left,#be155e,#fa6630);
    background: linear-gradient(to right,#be155e,#fa6630);
  }

  #fixed-social {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#fixed-social a {
    display: block;
    font-size: 1.3em;
    color: #9a9a9a;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
    text-align: center;
}

#fixed-social a:hover {
    color: #2193b0;
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
    right: 6% !important;
}

[aria-label][data-balloon-pos]:hover:before, [aria-label][data-balloon-pos]:hover:after, [aria-label][data-balloon-pos][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-visible]:after, [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:before, [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
     padding: 0px 10px !important;
}

.quick_skills {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-evenly;
}

.quick_skills i {
    font-size: 2.5em;
    color: #a9abac;
    cursor: pointer;
}

.quick_skills i:hover {
    color: #2193b0;
}